.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  text-align: center;
}

.home__container {
}

.home__links {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
