.mahan {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mahanprofilepic {
  margin-top: 30px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  animation-name: mahaneffect;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

.aboutmahan {
  background-color: gold;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  border: 5px solid gold;
}
.aboutmahan > h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: royalblue;
}

.aboutmahan > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: navy;
}

.skillsmahan {
  display: flex;
  justify-content: space-around;
}

.python,
.react,
.js,
.css,
.html {
  height: 50px;
}

@keyframes mahaneffect {
  from {
    top: -30px;
  }
  to {
    top: 0px;
  }
}

.mahan__body {
  background-image: linear-gradient(silver, gold, gold);
}

.mahan__navbar {
  display: flex;
  justify-content: center;
  height: 45px;
  background-color: silver;
}

.contact__mahan {
  padding-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: wheat;
}
.mahan__contact__form {
  margin-left: 210px;
  margin-right: 210px;
  background-image: linear-gradient(blue, navy);
  border-radius: 30px;
}

.mahan_full_name,
.mahan_enter_email,
.mahan_formWord {
  height: 30px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.mahan_message {
  width: 250px;
  height: 60px;
}

.mahan__submit__button {
  width: 90px;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 9px;
  cursor: pointer;
  text-align: center;
  outline: none;
  background-color: gold;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px silver;
}
