.mahan {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mahanprofilepic {
  /* margin-right: 1000px; */
  margin-top: 30px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  animation-name: mahaneffect;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

.aboutmahan {
  background-color: gold;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  /* margin-bottom: 10px; */
  border: 5px solid gold;
}
.aboutmahan > h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: royalblue;
}

.aboutmahan > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: navy;
}

.skillsmahan {
  display: flex;
  justify-content: space-around;
}

.python,
.react,
.js,
.css,
.html {
  height: 50px;
}

@keyframes mahaneffect {
  from {
    top: -30px;
  }
  to {
    top: 0px;
  }
}

.mahan__body {
  background-image: linear-gradient(silver, gold, gold);
}

.mahan__navbar {
  justify-content: flex-end;
  display: flex;
  height: 45px;
  background-color: silver;
}
